Redirect 301 /articles/asp-net/configure-asp-net-webapi-to-send-data-as-json/ https://offering.solutions/blog/articles/2014/02/26/configure-asp-net-webapi-to-send-data-as-json/
Redirect 301 /articles/angular/chat-with-node-js-socket-io-angular-js-flashing-title-and-loading-bar/ https://offering.solutions/blog/articles/2014/07/03/chat-with-node-js-socket-io-angular-js-flashing-title-and-loading-bar/
Redirect 301 /articles/asp-net/using-crypto-namespace-to-generate-salts-and-compare-passwords/ https://offering.solutions/blog/articles/2014/03/03/using-crypto-namespace-to-generate-salts-and-compare-passwords/
Redirect 301 /articles/asp-net/install-ninject-asp-net-webapi/ https://offering.solutions/blog/articles/2014/03/04/install-ninject-asp-net-webapi/
Redirect 301 /articles/asp-net/lightweight-architecture-with-angularjs/ https://offering.solutions/blog/articles/2014/03/05/lightweight-architecture-with-angularjs/
Redirect 301 /articles/asp-net/how-to-avoid-viewbag-and-viewdata-in-asp-net-mvc/ https://offering.solutions/blog/articles/2014/03/08/how-to-avoid-viewbag-and-viewdata-in-asp-net-mvc/
Redirect 301 /articles/asp-net/code-first-with-entity-framework-nm-relationship-with-additional-information/ https://offering.solutions/blog/articles/2014/04/06/code-first-with-entity-framework-nm-relationship-with-additional-information/
Redirect 301 /tfs-2/deleting-a-team-project-on-visual-studio-team-services/ https://offering.solutions/blog/articles/2014/04/14/deleting-a-team-project-on-visual-studio-team-services/
Redirect 301 /articles/asp-net/how-to-include-dotnet-highcharts-in-asp-net-mvc-with-viewmodels/ https://offering.solutions/blog/articles/2014/05/09/how-to-include-dotnet-highcharts-in-asp-net-mvc-with-viewmodels/
Redirect 301 /articles/architecture/structurize-your-project-with-areas-and-services-in-asp-net-mvc/ https://offering.solutions/blog/articles/2014/06/01/structurize-your-project-with-areas-and-services-in-asp-net-mvc/
Redirect 301 /articles/development/why-i-like-scrum-tips-which-may-help-you/ https://offering.solutions/blog/articles/2014/06/03/why-i-like-scrum-tips-which-may-help-you/
Redirect 301 /wpf-2/wpf-crashes-with-outofmemoryexception-when-loading-pngs/ https://offering.solutions/blog/articles/2014/06/04/wpf-crashes-with-outofmemoryexception-when-loading-pngs/
Redirect 301 /articles/architecture/creating-a-business-logic-in-asp-net-mvc/ https://offering.solutions/blog/articles/2014/06/10/creating-a-business-logic-in-asp-net-mvc/
Redirect 301 /articles/architecture/asp-net-mvc-generic-repositories-and-unitofwork/ https://offering.solutions/blog/articles/2014/07/01/asp-net-mvc-generic-repositories-and-unitofwork/
Redirect 301 /wpf-2/clean-your-viewmodel-in-wpf-and-create-a-facade/ https://offering.solutions/blog/articles/2014/07/03/clean-your-viewmodel-in-wpf-and-create-a-facade/
Redirect 301 /articles/asp-net/impressions-of-the-first-asp-net-mvc-workshop/ https://offering.solutions/blog/articles/2014/08/10/impressions-of-the-first-asp-net-mvc-workshop/
Redirect 301 /wpf-2/how-to-make-first-steps-of-databinding-in-wpf/ https://offering.solutions/blog/articles/2014/09/02/how-to-make-first-steps-of-databinding-in-wpf/
Redirect 301 /wpf-2/wpf-basics-ii-the-inotifypropertychanged-interface/ https://offering.solutions/blog/articles/2014/09/14/wpf-basics-ii-the-inotifypropertychanged-interface/
Redirect 301 /articles/scrum/unterhaltsame-meetings-in-scrum/ https://offering.solutions/blog/articles/2014/09/18/unterhaltsame-meetings-in-scrum/
Redirect 301 /wpf-2/correct-implementation-of-commands-in-wpf/ https://offering.solutions/blog/articles/2014/10/01/correct-implementation-of-commands-in-wpf/
Redirect 301 /articles/asp-net/asp-net-repository-pattern-und-unit-of-work/ https://offering.solutions/blog/articles/2014/10/06/asp-net-repository-pattern-und-unit-of-work/
Redirect 301 /articles/life/mach-das-handy-aus-wie-man-maximal-produktiv-sein-kann/ https://offering.solutions/blog/articles/2014/10/13/mach-das-handy-aus-wie-man-maximal-produktiv-sein-kann/
Redirect 301 /articles/angular/asp-net-clientseitige-webarchitekturen-mit-angularjs/ https://offering.solutions/blog/articles/2014/11/02/asp-net-clientseitige-webarchitekturen-mit-angularjs/
Redirect 301 /articles/scrum/scrum-wege-zu-einer-erfolgreichen-retrospektive/ https://offering.solutions/blog/articles/2014/12/04/scrum-wege-zu-einer-erfolgreichen-retrospektive/
Redirect 301 /articles/development/jeder-braucht-einen-scrum-master/ https://offering.solutions/blog/articles/2015/01/20/jeder-braucht-einen-scrum-master/
Redirect 301 /wpf-2/wpf-callmembername-for-inotifypropertychanged/ https://offering.solutions/blog/articles/2015/02/08/wpf-callmembername-for-inotifypropertychanged/
Redirect 301 /articles/angular/how-to-work-with-the-q-promise-syntax-in-angularjs/ https://offering.solutions/blog/articles/2015/03/01/how-to-work-with-the-q-promise-syntax-in-angularjs/
Redirect 301 /articles/architecture/asp-net-helpers-by-offering-solutions/ https://offering.solutions/blog/articles/2015/03/04/asp-net-helpers-by-offering-solutions/
Redirect 301 /articles/angular/how-to-modularize-your-angular-application/ https://offering.solutions/blog/articles/2015/03/17/how-to-modularize-your-angular-application/
Redirect 301 /articles/scrum/user-stories-vs-bugs-vs-product-backlog-items/ https://offering.solutions/blog/articles/2015/04/01/user-stories-vs-bugs-vs-product-backlog-items/
Redirect 301 /articles/talks/microsoft-techtalk-in-wallisellen/ https://offering.solutions/blog/articles/2015/04/19/microsoft-techtalk-in-wallisellen/
Redirect 301 /articles/development/find-me-on-github/ https://offering.solutions/blog/articles/2015/04/22/find-me-on-github/
Redirect 301 /articles/life/mycsharp-de-kooperation-mit-der-basta/ https://offering.solutions/blog/articles/2015/04/24/mycsharp-de-kooperation-mit-der-basta/
Redirect 301 /articles/architecture/eine-rest-api-ist-mehr-als-eine-api-moderne-architekturen-fur-verteilte-systeme/ https://offering.solutions/blog/articles/2015/05/01/eine-rest-api-ist-mehr-als-eine-api-moderne-architekturen-fur-verteilte-systeme/
Redirect 301 /articles/asp-net/asp-net-webapi-datashaper-to-strip-your-json-data/ https://offering.solutions/blog/articles/2015/05/30/asp-net-webapi-datashaper-to-strip-your-json-data/
Redirect 301 /articles/asp-net/paging-in-einer-asp-net-webapi-und-angularjs/ https://offering.solutions/blog/articles/2015/06/09/paging-in-einer-asp-net-webapi-und-angularjs/
Redirect 301 /articles/life/meine-ersten-tage-mit-dem-surface-3/ https://offering.solutions/blog/articles/2015/07/01/meine-ersten-tage-mit-dem-surface-3/
Redirect 301 /articles/asp-net/how-to-build-a-great-restful-service/ https://offering.solutions/blog/articles/2015/07/20/how-to-build-a-great-restful-service/
Redirect 301 /articles/angular/angularjs-ngresource-demo-with-asp-net-webapi/ https://offering.solutions/blog/articles/2015/08/25/angularjs-ngresource-demo-with-asp-net-webapi/
Redirect 301 /articles/development/angularjs-with-gulp-wiredep-and-bower/ https://offering.solutions/blog/articles/2015/08/30/angularjs-with-gulp-wiredep-and-bower/
Redirect 301 /articles/asp-net/webapi-with-asp-net-core-1-0-and-asp-net/ https://offering.solutions/blog/articles/2015/09/02/webapi-with-asp-net-core-1-0-and-asp-net/
Redirect 301 /articles/asp-net/token-authentication-with-claims-and-asp-net-webapi/ https://offering.solutions/blog/articles/2015/10/03/token-authentication-with-claims-and-asp-net-webapi/
Redirect 301 /articles/asp-net/webhooks-with-asp-net-on-azure-dropbox-and-github/ https://offering.solutions/blog/articles/2015/10/18/webhooks-with-asp-net-on-azure-dropbox-and-github/
Redirect 301 /mvp/zu-gast-beim-mvp-global-summit-bei-microsoft/ https://offering.solutions/blog/articles/2015/11/04/zu-gast-beim-mvp-global-summit-bei-microsoft/
Redirect 301 /articles/talks/talk-bei-den-microsoft-evolution-days-in-zurich/ https://offering.solutions/blog/articles/2015/11/12/talk-bei-den-microsoft-evolution-days-in-zurich/
Redirect 301 /articles/asp-net/how-to-use-tag-helpers-in-asp-net-mvc/ https://offering.solutions/blog/articles/2015/11/16/how-to-use-tag-helpers-in-asp-net-mvc/
Redirect 301 /articles/asp-net/getting-started-with-visual-studio-code-angular-and-typescript/ https://offering.solutions/blog/articles/2015/12/03/getting-started-with-visual-studio-code-angular-and-typescript/
Redirect 301 /articles/nuget/asp-net-unit-of-work-with-entity-framework/ https://offering.solutions/blog/articles/2015/12/09/asp-net-unit-of-work-with-entity-framework/
Redirect 301 /articles/asp-net/get-started-with-asp-net-core-and-entity-framework-6/ https://offering.solutions/blog/articles/2015/12/13/get-started-with-asp-net-core-and-entity-framework-6/
Redirect 301 /articles/asp-net/angular-and-asp-net-core-starter/ https://offering.solutions/blog/articles/2016/01/25/angular-and-asp-net-core-starter/
Redirect 301 /articles/angular/consuming-a-rest-api-with-angular-http-service-in-typescript/ https://offering.solutions/blog/articles/2016/02/01/consuming-a-rest-api-with-angular-http-service-in-typescript/
Redirect 301 /articles/talks/talk-on-the-microsoft-techdays-2016-in-baden/ https://offering.solutions/blog/articles/2016/02/20/talk-on-the-microsoft-techdays-2016-in-baden/
Redirect 301 /articles/asp-net/angular-asp-net-webapi-azure-cordova-cross-platform-2/ https://offering.solutions/blog/articles/2016/04/19/angular-asp-net-webapi-azure-cordova-cross-platform-2/
Redirect 301 /articles/asp-net/angular-asp-net-webapi-azure-cordova-cross-platform-my-private-hackathon-part-2/ https://offering.solutions/blog/articles/2016/04/26/angular-asp-net-webapi-azure-cordova-cross-platform-my-private-hackathon-part-2/
Redirect 301 /articles/angular/writing-custom-validators-in-angular/ https://offering.solutions/blog/articles/2016/05/10/writing-custom-validators-in-angular/
Redirect 301 /articles/development/how-you-can-organise-gulp-in-your-applications/ https://offering.solutions/blog/articles/2016/05/16/how-you-can-organise-gulp-in-your-applications/
Redirect 301 /articles/angular/kurs-frontend-entwicklung-mit-angularjs/ https://offering.solutions/blog/articles/2016/05/25/kurs-frontend-entwicklung-mit-angularjs/
Redirect 301 /articles/angular/asp-net-core-angular-webpack-visual-studio/ https://offering.solutions/blog/articles/2016/06/12/asp-net-core-angular-webpack-visual-studio/
Redirect 301 /articles/angular/cross-platform-builds-with-angular-gulp-and-webpack/ https://offering.solutions/blog/articles/2016/06/17/cross-platform-builds-with-angular-gulp-and-webpack/
Redirect 301 /articles/asp-net/asp-net-core-1-0-with-entity-framework-core/ https://offering.solutions/blog/articles/2016/07/03/asp-net-core-1-0-with-entity-framework-core/
Redirect 301 /articles/life/kooperation-von-mycsharp-de-und-der-basta/ https://offering.solutions/blog/articles/2016/07/20/kooperation-von-mycsharp-de-und-der-basta/
Redirect 301 /articles/asp-net/how-to-create-an-asp-net-core-1-0-webapi/ https://offering.solutions/blog/articles/2016/07/29/how-to-create-an-asp-net-core-1-0-webapi/
Redirect 301 /articles/development/neue-angular-kurstermine-angekundigt/ https://offering.solutions/blog/articles/2016/08/17/neue-angular-kurstermine-angekundigt/
Redirect 301 /articles/asp-net/how-to-set-up-angular-and-webpack-in-visual-studio-with-asp-net-core/ https://offering.solutions/blog/articles/2016/08/27/how-to-set-up-angular-and-webpack-in-visual-studio-with-asp-net-core/
Redirect 301 /articles/moving-from-microsoft-lumia-950-to-oneplus-3/ https://offering.solutions/blog/articles/2016/10/15/moving-from-microsoft-lumia-950-to-oneplus-3/
Redirect 301 /articles/angular/how-to-debug-an-angular-application-with-chrome-and-vs-code/ https://offering.solutions/blog/articles/2016/10/16/how-to-debug-an-angular-application-with-chrome-and-vs-code/
Redirect 301 /articles/asp-net/build-and-debug-webapi-with-the-dotnet-cli-and-vscode/ https://offering.solutions/blog/articles/2016/11/02/build-and-debug-webapi-with-the-dotnet-cli-and-vscode/
Redirect 301 /articles/how-to-implement-a-table-filter-in-angular/ https://offering.solutions/blog/articles/2016/11/21/how-to-implement-a-table-filter-in-angular/
Redirect 301 /articles/how-i-started-recording-my-first-video-training/ https://offering.solutions/blog/articles/2016/11/29/how-i-started-recording-my-first-video-training/
Redirect 301 /articles/talks/speaking-at-the-microsoft-techdays-2017/ https://offering.solutions/blog/articles/2017/01/02/speaking-at-the-microsoft-techdays-2017/
Redirect 301 /articles/asp-net/how-to-set-up-angular-2-and-webpack-in-visual-studio-with-asp-net-core/ https://offering.solutions/blog/articles/2016/08/27/how-to-set-up-angular-and-webpack-in-visual-studio-with-asp-net-core/
