--- 
layout: default 
cover: 'assets/images/background.jpg' 
class: 'home-template' 
navigation: True 
logo: 'assets/images/logo_small.png'
current: home 
---

<!-- < default -->
<!-- The tag above means - insert everything in this file into the [body] of the default.hbs template -->

<!-- The big featured header  -->
<header class="main-header {% if page.cover %}" style="background-image: url({{site.baseurl}}{{page.cover}}) {% else %}no-cover{% endif %}">
    <nav class="main-nav overlay clearfix">
        {% if page.logo %} <a class="blog-logo" href="{{site.baseurl}}"><img src="{{site.baseurl}}{{page.logo}}" alt="Blog Logo" /></a>{% endif %} 
        {% if page.navigation %} <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a> {% endif %}
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">

            <h1 class="page-title">{{site.shortname}}</h1>
            <img src="{{site.baseurl}}{{site.image}}" align="middle" style="border-radius: 50%; border: 5px solid white;">
            <h2 class="page-description">{{ site.description }}</h2>
            <div align="center">
                <a href="{{site.social.twitter}}" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @FabianGosebrink</a>
                <script>
                    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');
                </script>
            </div>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>

<!-- The main content area on the homepage -->
<main id="content" class="content" role="main">

    <div align="center">
        <p>

            <img src="{{site.baseurl}}assets/images/MVPlogo.png" align="middle">
            <br/>
            <h4>{{site.bio}}</h4>
            <br/>
            <a class="social-icon" href="https://www.linkedin.com/in/fabian-gosebrink-71023a88"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a>
            <a class="social-icon" href="https://github.com/FabianGosebrink"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
            <a class="social-icon" href="https://github.com/OfferingSolutions"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
            <a class="social-icon" href="https://mvp.microsoft.com/en-us/PublicProfile/5001666?fullName=Fabian%20%20Gosebrink"><i class="fa fa-windows fa-3x" aria-hidden="true"></i></a>
            <a class="social-icon" href="https://www.xing.com/profile/Fabian_Gosebrink"><i class="fa fa-xing fa-3x" aria-hidden="true"></i></a>
            <a class="social-icon" href="https://twitter.com/FabianGosebrink"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a>
        </p>
    </div>

    <div align="center">
        <!-- Html Elements for Search -->
        <div id="search-container">
            <input type="text" id="search-input" placeholder="Search article..." style="max-width:50%;font-family: sans-serif;">
            <ul id="results-container" style="list-style: none;"></ul>
        </div>
    </div>

    <!-- The tag below includes the post loop - partials/loop.hbs -->
    {% include loop.html %}

</main>
